---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";
import LinkButton from "./LinkButton.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, tags, ...props } = data;
---

<li class="group relative my-12 flex hover-neo flex-col neo-box">
  <a
    href={getPath(id, filePath)}
    class="border-b-[3px] border-ink bg-zest p-8 transition-opacity hover:opacity-90"
  >
    <Heading
      class="text-neo-display text-3xl sm:text-4xl"
      style={{ viewTransitionName: slugifyStr(title) }}
    >
      {title}
    </Heading>
  </a>
  <div class="flex flex-1 flex-col p-8">
    <div class="mb-4 flex flex-wrap items-center justify-between gap-4">
      <Datetime {...props} />
      <div class="flex flex-wrap gap-2">
        {
          tags.map(tag => (
            <span class="bg-fizz/30 px-2 py-0.5 text-xs font-bold text-foreground uppercase">
              {tag}
            </span>
          ))
        }
      </div>
    </div>
    <p class="mb-6 line-clamp-3 flex-1 text-foreground/90">{description}</p>
    <LinkButton
      href={getPath(id, filePath)}
      variant="button"
      class="w-fit bg-fizz text-xs font-bold tracking-widest text-ink uppercase"
    >
      Read More <span class="text-lg leading-none">&rarr;</span>
    </LinkButton>
  </div>
</li>
