---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";
import LinkButton from "./LinkButton.astro";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class:list={[
      "py-6 sm:py-4",
      "border-t border-border",
      "flex flex-col items-center justify-between sm:flex-row-reverse",
    ]}
  >
    <Socials />
    <div
      class="my-2 flex flex-col items-center sm:flex-row sm:justify-center sm:gap-x-2 sm:whitespace-nowrap"
    >
      <span>Copyright &#169; {currentYear}</span>
      <span class="hidden sm:inline">|</span>
      <span>All rights reserved</span>
      <span class="hidden sm:inline">|</span>
      <span>
        Made with
        <LinkButton
          href="https://github.com/withastro/astro"
          target="_blank"
          rel="noopener noreferrer">Astro</LinkButton
        >
        <LinkButton
          href="https://github.com/satnaing/astro-paper"
          target="_blank"
          rel="noopener noreferrer">Paper</LinkButton
        >
        and <span class="text-red-500">❤️</span>
      </span>
    </div>
  </div>
</footer>
