---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";
import LinkButton from "./LinkButton.astro";
import { Image } from "astro:assets";
import euFlag from "@/assets/images/eu-flag.svg";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class:list={[
      "rounded-md bg-card-bg p-4 shadow-neo border-neo",
      "flex flex-col items-center justify-center sm:flex-row sm:gap-x-4",
      "mb-4 text-sm",
    ]}
  >
    <Socials />
    <div
      class="my-2 flex flex-col items-center lg:flex-row lg:justify-center lg:gap-x-2 lg:whitespace-nowrap"
    >
      <div class="flex flex-col items-center md:flex-row md:gap-x-2">
        <span>Copyright &#169; {currentYear}</span>
        <span class="hidden md:inline">|</span>
        <span>All rights reserved</span>
      </div>

      <span class="hidden lg:inline">|</span>

      <div class="flex flex-col-reverse items-center md:flex-row md:gap-x-2">
        <span class="flex items-center gap-1">
          <Image src={euFlag} alt="EU Flag" class="inline-block h-auto w-7" />
          EU hosted
        </span>
        <span class="hidden md:inline">|</span>
        <span>
          Made with
          <LinkButton
            href="https://github.com/withastro/astro"
            target="_blank"
            rel="noopener noreferrer">Astro</LinkButton
          >
          <LinkButton
            href="https://github.com/satnaing/astro-paper"
            target="_blank"
            rel="noopener noreferrer">Paper</LinkButton
          >
          and <span class="text-red-500">💜</span>
        </span>
      </div>
    </div>
  </div>
</footer>
