---
import type { HTMLAttributes } from "astro/types";

type Props = { disabled?: boolean } & HTMLAttributes<"a">;

const { disabled, class: className, ...attrs } = Astro.props;

const Button = disabled ? "span" : "a";
---

<Button
  aria-disabled={disabled}
  class:list={[
    "group inline-flex items-center gap-1",
    "border-2 border-black bg-card-bg shadow-[2px_2px_0px_0px_#000]",
    "hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-[4px_4px_0px_0px_#000]",
    "transition-all duration-200",
    { "hover:text-accent": !disabled },
    className,
  ]}
  {...attrs}
>
  <slot />
</Button>
