---
import IconHash from "@/assets/icons/IconHash.svg";
import LinkButton from "./LinkButton.astro";

type Props = {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
};

const { tag, tagName, size = "lg" } = Astro.props;
---

<li>
  <LinkButton href={`/tags/${tag}/`}>
    <IconHash
      class:list={[
        "opacity-80",
        { "size-5": size === "lg" },
        { "size-4": size === "sm" },
      ]}
    />
    {tagName}
  </LinkButton>
</li>
