---
import LinkButton from "./LinkButton.astro";

type Props = {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
};

const { tag, tagName, size = "lg" } = Astro.props;
---

<li class="inline-block">
  <LinkButton
    href={`/tags/${tag}/`}
    variant="button"
    class:list={[
      "group relative border-0 bg-fizz/30 shadow-none hover:bg-fizz/50",
      { "px-2 py-0.5 text-xs": size === "sm" },
      { "px-4 py-1.5 text-base": size === "lg" },
    ]}
  >
    <span>{tagName}</span>
  </LinkButton>
</li>
