---
import type { MarkdownLayoutProps } from "astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";

import Layout from "./Layout.astro";
import { SITE } from "@/config";

type Props = MarkdownLayoutProps<{ title: string; description?: string }>;

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  {SITE.showBreadcrumbs && <Breadcrumb />}
  <main id="main-content" class="app-layout">
    <div class="mb-4 rounded-md bg-card-bg-secondary p-4 shadow-neo border-neo">
      <h1 class="text-2xl font-semibold tracking-wider sm:text-3xl">
        {frontmatter.title}
      </h1>
      <p class="mt-4 italic">{frontmatter.description}</p>
    </div>
    <div
      id="about"
      class="app-prose mb-28 max-w-app rounded-md bg-card-bg p-4 shadow-neo border-neo prose-img:border-0"
    >
      <slot />
    </div>
  </main>
  <Footer />
</Layout>
